* {
    box-sizing: border-box;
}

/* BODY */
body {
    margin: 1px;
    background: rgb(180, 168, 168);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

/*.main-container {
    display: grid;
    grid-template-areas:
        /*4 columnas y 3 filas*/
        /*'header header header header'
        'main main main main'
        'banda-1 banda-2 banda-3 banda-4'
        'footer footer footer footer';
    grid-gap: 10px;
    background-color:  #f1f1f1;
    padding: 10px;
}

.banda-1 {grid-area: banda-1;}

.banda-2 {grid-area: banda-2;}

.banda-3 {grid-area: banda-3;}

.banda-4 {grid-area: banda-4;}*/

/* HEADER */
/*header {
    grid-area: header;
    padding: 30px;
    text-align: center;
    background: white;
}

#main-index {
    grid-area: main;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /*justify-content: flex-start;
    align-content: center;
}

#main-contacto {
    grid-area: main;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /*justify-content: center;
    align-content: center;
}

section {
    width: 50%;
    background-color: lightgray;
    border: 2px solid gray;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* FOOTER */
/*footer {
    grid-area: footer;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}*/

@media screen and (max-width: 768px) {
    .main-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);  
             /* grid-template-areas:
                'header header header header'
                'main main main main'
                'banda-1 banda-1 banda-2 banda-2'
                'main main main main'
                'banda-3 banda-3 banda-4 banda-4'
                'footer footer footer footer'; */

    }
    header{
        text-align: center;
        background-color: #000;
        /* background-color: rgb(44, 1, 1); */
        color: rgb(183, 183, 196);
        padding: 10px;
    }

    nav{
        display: flex;
        justify-content: space-around;
        background-color: rgb(44, 1, 1);
        /* background-color: rgb(42, 42, 71); */
        padding: 3px;
        border-radius: 8px;
    }

    nav a{
        align-items: center;
        color: white;
        /* color: rgb(183, 183, 196); */
        text-decoration: solid;
    }

    #main-index{
        text-align: center;
        display: flex;
        flex-flow: column;
        background-color: rgb(67, 67, 241);
        /* background-color: rgb(212, 23, 23); */
    }

    section{
        background-color: rgba(0, 0, 0, 0.87);
        width: 95%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    
    section article{
        padding: 3px;
        margin-top: 5px;
    }
        
    footer{
        text-align: center;
        background-color: #000;
        /* background-color: rgb(183, 183, 196); */
    }
    footer div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        margin: auto;

    }
    footer h4 {
        font-size: 1rem;
        color: white
    }

    footer i {
        font-size: 1.5rem;
        color:#fff
        /* color: #000; */
    }

    .text-gen {
        color: rgb(183, 183, 196);
        background-color: rgba(0, 0, 0, 0.87);        
        padding: 20px 20px 40px 20px;
    }

    #sec-acerca{
        background-color: rgba(212, 23, 23, 0.836);
        padding: 10px;
    }

    /* bandas */

    /* carrusel */

    .carrusel{
        width: 100%;
        max-width: 120em;
        overflow: hidden;
    }

    .carrusel .grande{
        width: 200%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        transition: all .5s ease;
        transform: translate(0%);
    }

    .carrusel .iframe{
        width: 50%;
        min-height: 10vh;
    }

    .carrusel .puntos{
        background-color: rgb(42, 42, 71);
        border-radius: 30px;
        width: 60%;
        margin: auto;
        /* margin: 1em 0 0; */
        /* padding: .4em; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carrusel .punto{
        background-color: crimson;
        border-radius: 100%;
        width: 1em;
        height: 1em;
        margin: 3px 3px;
    }

    .carrusel .punto.activo{
        background-color: orangered;
    }
}

.btn-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.btn-enviar {
    display: flex;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
.btn-enviar span {
    position: relative;
    z-index: 2;
}
  
.btn-enviar:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0099ff;
    transition: all .35s;
}

.btn-enviar:hover {
    color: #fff;
}
  
.btn-enviar:hover:after {
    width: 100%;
}




@media screen and (max-width: 450px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);             
    }

    header{
        text-align: center;
        background-color: rgb(44, 1, 1);
        color: rgb(183, 183, 196);
        padding: 10px;
    }

    nav{
        display: flex;
        justify-content: space-around;
        background-color: rgb(42, 42, 71);
        padding: 3px;
        border-radius: 8px;
    }

    nav a{
        align-items: center;
        color: rgb(183, 183, 196);
        text-decoration: solid;
    }

    #main-index{
        text-align: center;
        display: flex;
        flex-flow: column;
        background-color: rgb(212, 23, 23);
    }

    section{
        background-color: rgba(0, 0, 0, 0.87);
        width: 95%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    
    section article{
        padding: 3px;
        margin-top: 5px;
    }

    footer{
        text-align: center;
        background-color: rgb(183, 183, 196);
    }
    footer div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%;
        margin: auto;

    }
    footer h4 {
        font-size: 1rem;
        color: black;
    }

    footer i {
        font-size: 1.5rem;
        color: #000;
    }

    .text-gen {
        color: rgb(183, 183, 196);
        background-color: rgba(0, 0, 0, 0.87);        
        padding: 20px 20px 40px 20px;
    }

    #sec-acerca{
        background-color: rgba(212, 23, 23, 0.836);
        padding: 10px;
    }

    /* bandas */

    /* carrusel */

    .carrusel{
        width: 100%;
        max-width: 120em;
        overflow: hidden;
    }

    .carrusel .grande{
        width: 200%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        transition: all .5s ease;
        transform: translate(0%);
    }

    .carrusel .iframe{
        width: 50%;
        min-height: 10vh;
    }

    .carrusel .puntos{
        background-color: rgb(42, 42, 71);
        border-radius: 30px;
        width: 60%;
        margin: auto;
        /* margin: 1em 0 0; */
        /* padding: .4em; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .carrusel .punto{
        background-color: crimson;
        border-radius: 100%;
        width: 1em;
        height: 1em;
        margin: 3px 3px;
    }

    .carrusel .punto.activo{
        background-color: orangered;
    }
}

.btn-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.btn-enviar {
    display: flex;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
.btn-enviar span {
    position: relative;
    z-index: 2;
}
  
.btn-enviar:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0099ff;
    transition: all .35s;
}

.btn-enviar:hover {
    color: #fff;
}
  
.btn-enviar:hover:after {
    width: 100%;
}
