* {
    box-sizing: border-box;
}

/* BODY */
body {
    background: rgb(230,230,230);
    color: #000;
    font-family: 'Roboto', sans-serif;
}

/*.main-container {
    display: grid;
    grid-template-areas:
        /*4 columnas y 3 filas*/
        /*'header header header header'
        'main main main main'
        'banda-1 banda-2 banda-3 banda-4'
        'footer footer footer footer';
    grid-gap: 10px;
    background-color:  #f1f1f1;
    padding: 10px;
}

.banda-1 {grid-area: banda-1;}

.banda-2 {grid-area: banda-2;}

.banda-3 {grid-area: banda-3;}

.banda-4 {grid-area: banda-4;}*/

/* HEADER */
/*header {
    grid-area: header;
    padding: 30px;
    text-align: center;
    background: white;
}

#main-index {
    grid-area: main;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /*justify-content: flex-start;
    align-content: center;
}

#main-contacto {
    grid-area: main;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /*justify-content: center;
    align-content: center;
}

section {
    width: 50%;
    background-color: lightgray;
    border: 2px solid gray;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

/* FOOTER */
/*footer {
    grid-area: footer;
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}*/

@media screen and (max-width: 768px) {
    .main-container {
        grid-template-areas:
                'header header header header'
                'main main main main'
                'banda-1 banda-1 banda-2 banda-2'
                'main main main main'
                'banda-3 banda-3 banda-4 banda-4'
                'footer footer footer footer';
    }
}

@media screen and (max-width: 450px) {
    .main-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);             
    }

    header{
        text-align: center;
        background-color: rgb(44, 1, 1);
        color: rgb(183, 183, 196);
        padding: 10px;
    }

    nav{
        display: flex;
        justify-content: space-around;
        background-color: rgb(42, 42, 71);
        padding: 3px;
        border-radius: 8px;
    }

    nav a{
        align-items: center;
        color: rgb(183, 183, 196);
        text-decoration: solid;
    }

    #main-index{
        text-align: center;
        display: flex;
        flex-flow: column;
        background-color: rgb(212, 23, 23);
    }

    section{
        background-color: rgba(0, 0, 0, 0.87);
        width: 90%;
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    
    section article{
        padding: 3px;
    }

    footer{
        text-align: center;
        background-color: rgb(183, 183, 196);
    }
}

.btn-container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.btn-enviar {
    display: flex;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
  
.btn-enviar span {
    position: relative;
    z-index: 2;
}
  
.btn-enviar:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #0099ff;
    transition: all .35s;
}

.btn-enviar:hover {
    color: #fff;
}
  
.btn-enviar:hover:after {
    width: 100%;
}
